.header-section__container {

    @media screen and (max-width:767px) {
        display: flex;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
    }
}

.header-logo {
    font-family: $font-logo;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-black;

    @media screen and (max-width:767px) {
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 16px;


    }

    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
        vertical-align: top;
        align-items: center;
    }
}

.header-logo__span {
    color: $color-blue21;
    text-align: center;

    @media screen and (min-width:1200px) {
        display: block;
    }
}

.header-section {
    position: relative;
    margin: 0 auto;
}

.header-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-black21;
    display: flex;


    @media screen and (min-width:768px) {
        align-items: center;
        justify-content: center;
    }
}

.header-nav__list {
    display: flex;

    @media screen and (max-width:767px) {
        flex-direction: column;
    }

    @media screen and (min-width:768px) {}
}

.header-nav__item {


    @media screen and (min-width:768px) {
        margin-right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    @media screen and (max-width:767px) {
        
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}


.header-nav__item:last-child {

    @media screen and (max-width:767px) {
        // margin-bottom: 302px;
    }

    @media screen and (min-width:768px) {
        margin-right: 0;
    }
}

.header-nav__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-black21;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        color: $color-blue21;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    @media screen and (min-width:768px) {
        display: block;
    }

    @media screen and (max-width:767px) {
        font-size: 40px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0.02em;
        text-align: left;


    }

    &--current {
        color: $color-blue21;
        text-align: center;

        @media screen and (max-width:767px) {
            font-size: 40px;
            font-weight: 500;
            line-height: 47px;
            letter-spacing: 0.02em;
            text-align: center;

        }

        @media screen and (min-width:768px) {
            padding-top: 32px;
            padding-bottom: 32px;

            display: block;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                background-color: $color-blue21;
                border-radius: 2px;
                bottom: 0;
                left: 0;
            }
        }
    }
}


.header-contacts__block {
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }

}

.header-contacts {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-grey;
    padding: 0;
    display: flex;

    @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        align-items: baseline;
        justify-content: center;
        margin-right: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        margin-left: auto;
    }

    @media screen and (min-width:1200px) {
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
    }
}


.header-contacts__item {

    @media screen and (max-width:767px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width:1200px) {
        display: inline-flex;
        align-items: center;
    }
}

.header-contacts__item:first-child {

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 50px;
    }
}

.header-contacts__link {
    color: $color-grey;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
            color: $color-blue21;
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    }

    @media screen and (max-width:767px) {
        &--phone {
            font-size: 34px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: left;
            color: $color-blue21;

            @media screen and (max-width:479px) {  
                font-size: 32px;
            }
        }

        &--mail {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-align: left;
        }

        padding: 0;
    }
}




.header-contacts__icon {
    height: 12px;
    width: 16px;
    fill: currentColor;


    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width:1200px) {
        margin: 2px 10px 2px auto;

        &:hover,
        &:focus {
            fill: $color-blue21;
        }
    }
}