

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    // @media screen and (max-width:767px) {
    //     margin-bottom: 24px;
    // }

}

.social-icons__item:not(:last-child) {
    margin-right: 10px;
}

.social-icons__link {
    border: none;
    width: 44px;
    height: 44px;
    background-color: $color-social;
    border-radius: 50%;
    color: $color-greyaf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    &:hover {
        background-color: $color-blue21;
        color: $color-white;
    }
}

.social-icons__image {
    height: 20px;
    width: 20px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: $color-white;
    }
    
}
