
.our-team {
    background-color: $color-milk;
}

.our-team__list {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
}


.our-team__item {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: $color-white;
    box-shadow: 0px 2px 1px 0px $color-shadow-5,
        0px 1px 1px 0px $color-shadow-6,
        0px 1px 3px 0px $color-shadow-2;
}

.our-team__item:not(:last-child) {
    margin-right: 30px;
}


.our-team__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-black21;
    margin-bottom: 10px;
}

.our-team__job {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-grey;
    margin-bottom: 0;
    margin-top: 0;
}

.our-team__block {
    padding-top: 30px;
    padding-bottom: 30px;
}