.hero {
    min-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $color-footer-background;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/BgImgTel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) { 
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/BgImgTel@2x.jpg);
    }
        


    @media screen and (min-width:768px) {
        min-height: 400px;
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/BgImgTab.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/BgImgTab@2x.jpg);
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/BgImg.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/BgImg@2x.jpg);
        }
    }
}


.button-section__button {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: $color-white;
    background-color: $color-blue21;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px $color-shadow-1;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    user-select: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {

        &:hover {
            background-color: $color-blue18;
            box-shadow: 0px 4px 4px 0px $color-shadow-1;
        }

        &:focus {
            background-color: $color-blue18;
            box-shadow: 0px 4px 4px 0px $color-shadow-1;
        }
    }
}