.header-nav__button {
    z-index: 3;
    display: block;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.header-nav__button .header-nav__icon--menu-close {
    display: none;
}

.header-nav__button.is-open .header-nav__icon--menu-close {
    display: block;
}

.header-nav__button.is-open .header-nav__icon--menu {
    display: none;
}

.header-menu {
    z-index: 2;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }


    @media screen and (max-width:767px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;

        &.is-open {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }
    

    &__sociallist {
        margin-top: 32px;
        max-width: 450px;
        width: 100%;
        
    @media screen and (min-width:480px) {
        display: flex;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
    }

    &__socialitem {
        display: flex;
        &:not(:last-child) {
            margin-right: 10px;
            border-right: 1px solid #21212133;
            padding-right: 10px;
        }
        }

    &__sociallink {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: left;
        color: $color-blue21;
    }
}