$color-blue18: #188CE8;
$color-blue21: #2196F3;
$color-overflow: #2196F3E5;
$color-black21: #212121;
$color-black: #000000;
$color-grey: #757575;
$color-milk: #F5F4FA;
$color-white: #fff;
$color-greyaf: #AFB1B8;
$color-footer-contacts: #FFFFFF99;
$color-footer-background: #2F303A;
$color-footer-social: #FFFFFF1A;
$color-social: #FFFFFF1A;
$color-modal-textarea: #75757580;
$color-modal-backdropbg: #00000033;
$color-border-1: #ECECEC;
$color-border-2: #0000001A;
$color-border-3: #21212133;
$color-border-4: #EEEEEE;
$color-shadow-1: #00000026;
$color-shadow-2: #0000001F;
$color-shadow-3: #00000029;
$color-shadow-4: #0000000F;
$color-shadow-5: #00000033;
$color-shadow-6: #00000024;
$color-shadow-7: #00000014;
$font-body: 'Roboto', sans-serif;
$font-logo: Raleway;
